header{
    background-color: #56E79A;
}

body{
    background-color: var(--ahtp_branco); 
    font-family: "Montserrat", sans-serif;
}

#navbar{
    background-color: var(--ahtp_branco) !important;
}

.ahtp-text{
    color: var(--ahtp_textos) !important;
}