@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

header{
    padding: 10px;
    background-color: white;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    font-weight: bold;
}

.header-link{
    padding: 5px;
    text-decoration: none;
    color: black;
}

main{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bold;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 10px;
    background-color: white;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}