@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
  }

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
}

/* HEADER */

header{
    padding: 10px;
    background-color: var(--ahtp_branco);
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    font-weight:600;
    position: fixed;
}

.header-link{
    padding: 5px;
    text-decoration: none;
    color: var(--ahtp_textos);
}

.img{
    width: 7vw;
    object-fit:contain;
}

/* CONTEUDO */
main{
    padding-top: 10vh;
    color: var(--ahtp_textos);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CAMPANHA */
.imagem-campanha-div{
    height: auto;
}

.imagem-campanha{
    width: 100%;
    object-fit:contain;
}

/* QUEM SOMOS */
.quem-somos{
    background-position: center;
    background-size: cover;
    background-attachment:initial;
    background-color: var(--ahtp_branco);
    padding: 1vh 0;
}

.imagem-quemsomos{
    width: 100%;
}

.quem-somos-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 1vh 3vw;
}

.quem-somos-descricoes{
    padding: 4vh 0;
}

.quem-somos-desc{
    font-weight: 500;
    font-style: italic;
    width: 60vw;
    padding: 1vh 0;
}

.botao-leia-mais{
    border-color: transparent;
    width: 15vw;
    font-size:medium;
    font-weight: 600;
    text-decoration: underline;
    background-color: var(--ahtp_verde);
    padding: 1vh 1vw;
}

.botao-leia-mais:hover{
    background-color: gray;
}

/* WORLD PEACE */

.worldpeaceimg{
    width: 100%;
    object-fit:contain;
}

.section-titulo{
    font-size: 13vh;
    font-weight: 900;
    color: var(--ahtp_textos);
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PREMIOS */
.premios{
    background-color: var(--ahtp_branco);
    width: 100%;
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.premios-img-div{
    padding: 2vh 0;
}

.premios-titulo{
    font-weight: 500;
    font-size: 4vh;
    font-style: italic;
}

/* NUMERO */
.numeros{
    background-color: var(--ahtp_verde);
    width: 100%;
    padding: 10vh 0 10vh 0;
}

.numeros-cards-div{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.numeros-cards{
    background-color: var(--ahtp_branco);
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vh 0 5vh 0;
}

.numero-cards-simbolo{
    font-size: 5vw;
    font-weight: 500;
    color:var(--ahtp_textos);
}

.numero-cards-valor{
    font-size: 5vw;
    font-weight: 900;
    color:var(--ahtp_textos);
}

.numero-cards-desc{
    padding-top: 1vh;
    font-size:x-large;
    font-weight: 600;
    font-style: italic;
    color:var(--ahtp_textos);
}

/* QUOTES */
.quotes{
    background-image: linear-gradient(
        to right, var(--ahtp_verde_claro) , var(--ahtp_branco));
    display: flex;
}

/* Quotes esquerda */
.quotes-left{
    width: 99%;
    overflow-y: hidden;
}

.quotes-left::-webkit-scrollbar{
    width: 0;
}

.quotes-scrollable{
    width: 170vw;
    display: flex;
    padding-left: 2vw;
}


.quotes-card{
    margin-right: 2px;
    border: #1D1D1D;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4vh 2vw;
    width: 33vw;
    height: 65vh;
    color: var(--ahtp_textos)
}

/* Quotes direita */
.quotes-right{
    background-color:transparent;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    height: 75%;
}

.quotes-left-arrow{
    background-color:transparent;
    visibility: hidden;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    height: 75%;
}

.quotes-img{
    object-fit:contain;
    width: 2vw;
}

.quotes-img-left{
    object-fit:contain;
    width: 2vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.quotes-button{
    border: transparent;
    background-color: transparent;
}

.quotes-icon{
    font-size: 5vw;
    font-weight: 700;
    font-style: italic;
}

.quotes-desc{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    padding:3vh 0;
}

.quotes-by{
    font-size: 2vw;
    font-weight: 500;
}

/* FOOTER */
footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

.contact-info-box{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 2vh 0;
}

.contact-info{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-icon{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.img-contato{
    width: 40%;
    object-fit:contain;
}

.contato{
    padding: 3vh 0;
}

.social-medias{
    height: 10vh;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    align-items: end;
    padding: 1vh 1vw;
}

.sm-img{
    object-fit: contain;
    height: 4vh;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1069px) {
    .numero-cards-desc{
        font-size: 3vh;
    }
    .quotes-card{
        width: 50vw;
    }
    .quotes-scrollable{
        width: 250vw;
    }
}
/* @media screen and(max-width: 990px){

} */

@media screen and (max-width: 770px) {
    .social-medias{
        width: 80%;
    }

    .numero-cards-desc{
        font-size: 2vh;
    }

    .quotes-card{
        width: 80vw;
        font-size: 20px;
    }

    .quotes-scrollable{
        width: 400vw;
    }
}

@media screen and (max-width: 680px) {
    main{
        padding-top: 7vh;
    }

    header{
        font-size: small;
        height: 7vh;
        padding: 0;
    }

    .header-link{
        padding: 2px;
    }

    .section-titulo{
        font-size: 10vh;
        font-weight:900;
    }

    .quem-somos-desc{
        width: 100%;
    }

    .quotes-card{
        width: 95vw;
        font-size: 10px;
        height: 50vh;
    }
}

@media screen and (max-width: 582px){
    .botao-leia-mais{
        width: 20vw;
    }
}

@media screen and (max-width: 530px) {
    .section-titulo{
        font-size: 7vh;
    }

    .numeros{
        padding: 5vh 0 5vh 0;
    }

    .numeros-cards{
        padding: 5vh 0 2vh 0;
    }
    
    .quotes-right{
        visibility: hidden;
    }
}

@media screen and (max-width: 450px) {
    .contato-icon{
        display: none
    }
    .contact-info{
        width: 100%;
        padding-left: 3vw;
    }
    .numero-cards-desc{
        font-size:xx-small;
    }
}

@media screen and (max-width: 400px) {
    header{
        font-size:xx-small;
    }

    .header-link{
        padding: 1px;
    }

    .social-medias{
        width: 90%;
    }

    .quotes-desc{
        font-size: 15px;
    }
}