.about-img{
    width: 48vw;
    object-fit:contain;
}

.about-section{
    width: 100vw;
    padding: 30vh 0;
    background-color: white;
    display:flexbox;
    align-self: center;
    justify-self: center;
}

h1{
    align-self: center;
    justify-self: center;
}