@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* html > *{
    border:red;
    border-style: solid; 
} */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    /* background-color: red; */
    }

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
}

main{
    padding-top: 13vh;
    /* background-color: red; */
    height: 100vh;
}
