<head>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <main>
        <!-- CASA1 -->
    <!-- <div class="section">
        <div class="imagem-ccxp-div">
            <a href="https://www.casaum.org/como-ajudar/">
                <img src="/images/casa1.png" alt="#ArmyHelpCasa1" class="imagem-ccxp">
            </a>
        </div>
        </div> -->
        
    <!-- BANNER -->
    <div id="banner" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#banner" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#banner" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner_div">
                    <a href=""
                        target="_blank" rel="noopener noreferrer">
                        <img src="banner/recesso.png" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner_div">
                    <a href=""
                        target="_blank" rel="noopener noreferrer">
                        <img src="banner/cop30.png" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner_div">
                    <a href=""
                        target="_blank" rel="noopener noreferrer">
                        <img src="banner/tea.png" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"> -->
                    <!-- <p class="carousel-control">s</p> -->
                <img src="/images/arrow/Vector.png" alt="">
            <!-- </span> -->
            <!-- <span class="visually-hidden">Previous</span> -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
             <img src="/images/arrow/Vector.png" alt="">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true">
            </span>
            <span class="visually-hidden">Next</span> -->
        </button>
    </div>

        <!-- QUEM SOMOS -->
        <section id="quem-somos-bg">
            <div class="container py-7">
            </div>
        </section>
        <section id="quem-somos">
            <div class="quem-somos-txt">
                <p id="section-title">QUEM SOMOS</p>
                <div class="quem-somos-txt-desc">
                    <a class="fw-medium fst-italic">
                        O <strong>ARMY HELP THE PLANET</strong> é um movimento social atuante como Organização Não
                        Governamental “de fato”,
                        fundado pela união de esforços do fã-clube do grupo sul-coreano <strong>BTS</strong>.
                    </a>
                    <br>
                    <a class="fw-medium fst-italic">
                        Composto por profissionais, movidos e inspirados pela arte do grupo, tendo como exemplo o bem
                        que os 7 membros fazem ao mundo.
                    </a>
                    <br>
                    <a class="fw-medium fst-italic">
                        No Brasil, o <strong>ARMY HELP THE PLANET</strong> é atualmente a maior organização de fãs
                        dedicada ao desenvolvimento de projetos de cunho socioambiental.
                    </a>
                </div>
            </div>
        </section>

        <!-- WORLD PEACE FORUM -->
        <section id="world-peace-forum" class="d-flex flex-row">
            <div id="world-peace-forum-bg">
            </div>
            <div id="world-peace-forum-mari">
                <div>
                    <a href="https://unweeksinbusan.or.kr/index.php?mid=page_QEce12&l=en" target="_blank"
                        rel="noopener noreferrer">
                        <img class="object-fit-contain w-100" src="/images/mari.png" alt="">
                </div>
                </a>
            </div>
        </section>

        <!-- BENFEITORIA -->
        <section id="bemfeitoria" class="d-flex flex-column w-100">
            <img src="/images/medalha.png" alt="" class="img">
            <p class="text-center">
                <strong>
                    AHTP
                </strong>
                é vencedor na Categoria Ambiental
                <br>
                no Prêmio da
                <strong>
                    Benfeitoria
                </strong>
            </p>
            <a href="https://premio.benfeitoria.com/vencedores.html#ambiental" target="_blank"
                rel="noopener noreferrer">
                <button>
                    leia mais
                </button>
            </a>
        </section>

        <!-- IMPACTO -->
        <div id="impacto" class="numeros section">
            <div class="numeros-cards-div">
                <div class="numeros-cards">
                    <a class="numero-cards-valor">202.290</a>
                    <a class="numero-cards-desc">
                        Arrecadados em
                        <br> nossas campanhas</a>
                </div>
                <div class="numeros-cards">
                    <a class="numero-cards-valor">4.900</a>
                    <a class="numero-cards-desc">Doadores contribuindo
                        <br> com o melhor do ARMY
                        <br> e do BTS​</a>
                </div>
                <div class="numeros-cards">
                    <a class="numero-cards-valor">30</a>
                    <a class="numero-cards-desc">Voluntários pelo Brasil​</a>
                </div>
            </div>
        </div>

        <!-- NA MIDIA -->
        <div id="naMidia" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#naMidia" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#naMidia" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#naMidia" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#naMidia" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="materia_div">
                        <a href="https://billboard.com.br/reforco-de-peso-fas-do-bts-fazem-campanha-contra-pl-que-equipara-aborta-a-homicidio/"
                            target="_blank" rel="noopener noreferrer">
                            <img src="/images/materias/1[1].png" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="materia_div">
                        <a href="https://capricho.abril.com.br/entretenimento/acidente-com-suga-do-bts-e-licao-sobre-fake-news-e-uniao-entre-os-fas"
                            target="_blank" rel="noopener noreferrer">
                            <img src="/images/materias/2[1].png" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="materia_div">
                        <a href="https://www.estadao.com.br/emais/gente/tira-titulo-army-fas-do-grupo-bts-fazem-campanha-pro-titulo/"
                            target="_blank" rel="noopener noreferrer">
                            <img src="/images/materias/3[1].png" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="materia_div">
                        <a href="https://www.uol.com.br/ecoa/ultimas-noticias/2022/04/27/army-do-bem-fas-de-bts-levam-milhares-para-site-do-tse-por-voto.htm"
                            target="_blank" rel="noopener noreferrer">
                            <img src="/images/materias/4[1].png" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#naMidia" data-bs-slide="prev">
                <img src="/images/arrow/Vector.png" alt="">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#naMidia" data-bs-slide="next">
                <img src="/images/arrow/Vector.png" alt="">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </main>
</body>