<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE</title>
    <link rel="stylesheet" href="/styles/sobre.css">
</head>
<body>
<main>
<a id="sobre">SOBRE NÓS</a>
<!-- SEÇÃO NOSSO NOME E LOGO -->
 <div id="army" class="secao">
    <div class="titulo-secao">
        <div class="titulo-div">
            <div class="titulo-area">
            <a  class="titulo">ARMY</a>
            </div>
        </div>
        <div class="logo">
            <img id="army_img" class="img" src="/images/logo/army.png" alt="">
        </div>
    </div>
    <div class="texto-div">
        <div class="texto-area" id="texto-army">
        <a class="texto">
            Somos um grupo de profissionais fãs do BTS, movidos e inspirados pela arte do grupo, tendo como exemplo o bem que os 7 membros fazem ao mundo.
        </a>
        </div>
    </div>
 </div> 

  <div id="help" class="secao">
    <div class="titulo-secao">
        <div class="titulo-div">
            <div class="titulo-area">
            <a class="titulo">HELP</a>
            </div>
        </div>
        <div class="logo">
            <img class="img" src="/images/logo/help.png" alt="">
        </div>
    </div>
    <div class="texto-div">
        <div class="texto-area" id="texto-help">
        <a class="texto">
            Agindo e incentivando a tomada de ações para um mundo melhor por meio do voluntariado e mobilização da sociedade civil.
        </a>
        </div>
    </div>
 </div> 
  <div id="theplanet" class="secao">
    <div class="titulo-secao">
        <div class="titulo-div">
            <div class="titulo-area" >
            <a  class="titulo">THE PLANET</a>
            </div>
        </div>
        <div class="logo">
            <img id="theplanet_img" class="img" src="/images/logo/planet.png" alt="">
        </div>
    </div>
    <div class="texto-div">
        <div class="texto-area" id="texto-planet">
        <a class="texto">
            Meio ambiente, sociedade, políticas públicas e outros temas são parte da nossa agenda para um planeta cada vez melhor.
        </a>
        </div>
    </div>
 </div> 
 

 <!-- <div id="help">

 </div>

 <div id="the planet">

 </div> -->


<!-- NOSSA HISTÓRIA -->
    </main>
</body>
</html>