<head>
    <link rel="stylesheet" href="/styles/sobre.css">
</head>

<body>
    <main>
        <div class="sobrenos-div">
             <a id="sobrenos">SOBRE NÓS</a>
        </div>


        <!-- ARMY -->
        <div id="army" class="section">
            <div class="titulo-secao">
                <div class="logo-area">
                    <div class="logo">
                        <img id="army_img" class="img" 
                        src="/images/logo/army.png" alt="">
                    </div>
                </div>

                <div class="titulo-div">
                        <a class="titulo">ARMY</a>
                </div>
            </div>
            <div class="descricao-div">
                <div class="descricao-area">
                    <a class="texto">
                        Somos um grupo de profissionais fãs do BTS, movidos e inspirados pela arte do grupo, tendo como
                        exemplo o bem que os 7 membros fazem ao mundo.
                    </a>
                </div>
            </div>
        </div>

        <!-- HELP -->
        <div id="help" class="section">
            <div class="titulo-secao">
                <div class="titulo-div">
                    <div class="titulo-area">
                        <a class="titulo">HELP</a>
                    </div>
                </div>
                <div class="logo-area">
                    <div class="logo">
                
                        <img class="img" src="/images/logo/help.png" alt="">
                    </div>
                </div>
            </div>
            <div id="help-text" class="descricao-div">
                <div class="descricao-area" id="texto-help">
                    <a class="texto">
                        Agindo e incentivando a tomada de ações para um mundo melhor por meio do voluntariado e
                        mobilização da sociedade civil.
                    </a>
                </div>
            </div>
        </div>

        <!-- THE PLANET -->
        <div id="theplanet" class="section">
            <div class="titulo-secao">
                <div class="logo-area">
                    <div class="logo">
                        <img id="theplanet_img" class="img" src="/images/logo/planet.png" alt="">
                    </div>
                </div>
                <div class="titulo-div">
                    <div class="titulo-area">
                        <a class="titulo">THE PLANET</a>
                    </div>
                </div>
            </div>
            <div class="descricao-div">
                <div class="descricao-area" id="texto-planet">
                    <a class="texto">
                        Meio ambiente, sociedade, políticas públicas e outros temas são parte da nossa agenda para um
                        planeta cada vez melhor.
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>