/* QUEM SOMOS */
#section-title{
    font-weight: 900;
    font-size: 9vw;
    color: var(--ahtp_textos);
}

.quem-somos-txt
{
    width: 80%;
}

.quem-somos-txt-desc{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#quem-somos a{
    font-size: 3.7vh !important;
    text-decoration: none;
    color: var(--ahtp_textos);
    text-align: justify;
}

#quem-somos{
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 5vw;
    padding-bottom: 8vh;
}

#quem-somos-bg{
    background-image: url(/assets/quem-somos2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    color: var(--ahtp_textos) !important;
}

@media (max-width: 480px) {
    
/* QUEM SOMOS */
    #quem-somos-bg{
        height: 70vh;
    }
    #quem-somos{
        height: auto;
        padding:  2vh 0 3vh 1vh;
    }
    #quem-somos p{
        font-weight: 900;
        font-size: 11vw;
        color: var(--ahtp_textos);
    }
    #quem-somos a{
        font-size: 2vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }
}


@media (min-width: 480px) and (max-width: 768px){
    #quem-somos-bg{
        height: 50vh;
    }

    #quem-somos{
        height: 100vh;
    }

    #quem-somos a{
        font-size: 3vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }
}