@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main{
        width: 100%;
}

#campanhas-titulo{
    width: 100%;
    background-color: var(--ahtp_branco);
    height: 30vh;
    display: flex;
    align-items: center;
}

#campanhas-titulo-texto{
    font-size: 14vh;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-left: 6vw;
}
