@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* html > *{
    border:red;
    border-style: solid; 
} */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    max-width: 100%;
    }

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
}

#navbar{
    background-color: var(--ahtp_branco) !important;
}

.ahtp-text{
    color: var(--ahtp_textos) !important;
}


#banner, #naMidia{
    padding: 2vh;
}

.banner_div{
    background: rgb(221, 92, 92);
    padding: 0 0;
    width: 90%;
    justify-self: center;
}

.carousel-control-prev, .carousel-control-next,.carousel-indicators{
mix-blend-mode: difference !important;
}

.carousel-control-prev img, .carousel-control-next img{
 height: 5vh;
 filter: brightness(200%);
}

.carousel-control-prev img{
 rotate: 180deg;
}

/* QUEM SOMOS */
#section-title{
    font-weight: 900;
    font-size: 9vw;
    color: var(--ahtp_textos);
}

.quem-somos-txt
{
    width: 80%;
}

.quem-somos-txt-desc{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#quem-somos a{
    font-size: 3.7vh !important;
    text-decoration: none;
    color: var(--ahtp_textos);
    text-align: justify;
}

#quem-somos{
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 5vw;
    padding-bottom: 8vh;
}

#quem-somos-bg{
    background-image: url(/images/quem-somos2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    color: var(--ahtp_textos) !important;
}

/* WORLD PEACE FORUM */

#world-peace-forum{
    background-color: var(--ahtp_verde_claro);
    display: flex;
    width: 100% !important;
    object-fit: contain;
}

#world-peace-forum-bg{
    width: 60%; 
    margin: 0;
    background-image: url(/images/worldpeaceforum.png);
    background-attachment: fixed;
    background-size: auto 103% ;
    background-repeat: no-repeat;
    background-position: left;
}

/* BEM FEITORIA */

#bemfeitoria{
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    background-color: var(--ahtp_branco);
    height:50vh
}

#bemfeitoria img{
    height: 45%;
}

#bemfeitoria p{
    color: var(--ahtp_textos);
    text-decoration: none;
    margin: 3vh 0;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
}

#bemfeitoria button{
    font-size: 4vh;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    color: var(--ahtp_textos);
    background-color: var(--ahtp_branco);
    border: none;
    padding: 1vh 1vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 10, 0.231);
}

#bemfeitoria button:hover{
color: var(--ahtp_branco);
background-color: var(--ahtp_verde);
}

/* IMPACTO */
#impacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ahtp_verde);
    width: 100%;
    padding: 15vh 0 ;
}

#impacto a{
    text-decoration: none;
}

.numeros-cards-div{
    max-height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 5vw;
}

.numeros-cards{
    background-color: var(--ahtp_branco);
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.numero-cards-valor{
    font-size: 5vw;
    font-weight: 900;
    color:var(--ahtp_textos);
}

.numero-cards-desc{
    padding-top: 1vh;
    font-size: 1.8vw;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    color:var(--ahtp_textos);
}

/* CONTATO */

.section-titulo{
    font-weight: 900;
    font-size: 9vw;
    line-height: 0.97
}

footer{
    background-color: var(--ahtp_branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

/* NA MIDIA */

#naMidia{
    background-color: black;
    height: 90vh;
    display: flex;
    align-items: center;
    max-width: 100% !important;
    max-height: 100% !important;
}

.materia_div{
    padding: 0 25vw;
    width: 95%;
    justify-self: center;
    max-width: 100% !important;
    max-height: 100% !important;
}


.materia_div a{
    width: 100vw;
    max-width: 100% !important;
    max-height: 100% !important;
}

.materia_div img{
    width: 100% !important;
        max-width: 100% !important;
    max-height: 100% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}

@media (max-width: 480px) {
    
/* QUEM SOMOS */
    #quem-somos-bg{
        height: 70vh;
    }
    #quem-somos{
        height: auto;
        padding:  2vh 0 3vh 1vh;
    }
    #quem-somos p{
        font-weight: 900;
        font-size: 11vw;
        color: var(--ahtp_textos);
    }
    #quem-somos a{
        font-size: 2vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }

    /* WPF */
    #world-peace-forum-bg {
        flex-direction: column;
        display: none;
    }

    /* NUMEROS */
    .numeros-cards{
        width: 80%;
        margin: 1vh;
        padding: 3vh 0;
    }
    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;}
    
    .numero-cards-simbolo{
        font-size: 4vh;
    }

    .numero-cards-valor{
        font-size: 5vh;
    }

    .numero-cards-desc{
        font-size: 3vh;
    }

    .materia_div{
        padding: 0 1vw;
    }
    
}

/* @media (min-width:  768px) and (max-width: 992px){

} */

@media (min-width: 480px) and (max-width: 768px){
    #quem-somos-bg{
        height: 50vh;
    }

    #quem-somos{
        height: 100vh;
    }

    #quem-somos a{
        font-size: 3vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }

    #impacto{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 3vh 0;
    }

    .numeros-cards{
        margin: 2vh;
        padding: 5vh 2vw;
    }

    .numero-cards-valor{
        font-size: 10vh;
    }

    .numero-cards-desc{
        font-size: 5vh;
    }

    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;
    }

    .materia_div{
            padding: 0 3vw;
    }

    .carousel-control-next img,.carousel-control-prev img{
        height: 5vh;
    }

}