@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* html > *{
    border:red;
    border-style: solid; 
} */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    }

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
}

header{
    background-color: #56E79A;
}

/* body{
    font-family: "Montserrat", sans-serif;
    padding-top: 2vh;
} */

#navbar{
    background-color: var(--ahtp_branco) !important;
}

.ahtp-text{
    color: var(--ahtp_textos) !important;
}

/* CCXP */
/* .imagem-ccxp-div{
    height: auto;
}

.imagem-ccxp:hover{
    box-shadow: 10px 5px 5px var(--ahtp_textos);
}

.imagem-ccxp{
    width: 100%;
    object-fit:contain;
} */

/* QUEM SOMOS */
#section-title{
    font-weight: 900;
    font-size: 9vw;
    color: var(--ahtp_textos);
}

.quem-somos-txt
{
    width: 80%;
    height: 85%;
}

.quem-somos-txt-desc{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#quem-somos a{
    font-size: 4vh !important;
    text-decoration: none;
    color: var(--ahtp_textos);
}

#quem-somos{
    /* width: 98vw; */
    height:max-content;
    /* height: 95vh; */
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha verticalmente ao centro */
    padding-left: 2vw;
    padding-top: 8vh;
    padding-bottom: 10vh;
    background-color: white;
}

#quem-somos-bg{
    background-image: url(/images/quem-somos2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    color: var(--ahtp_textos) !important;
}

/* WORLD PEACE FORUM */

#world-peace-forum{
    background-color: var(--ahtp_verde_claro);
    display: flex;
    width: 98.8vw !important;
    object-fit: contain;
}

#world-peace-forum-bg{
    width: 60%; 
    margin: 0;
    background-image: url(/images/worldpeaceforum.png);
    background-attachment: fixed;
    background-size: auto 103% ;
    background-repeat: no-repeat;
    background-position: left;
}

/* BEM FEITORIA */

#bemfeitoria{
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    background-color: var(--ahtp_branco);
    height:45vh
}

#bemfeitoria img{
    height: 38%;
}

#bemfeitoria p{
    color: var(--ahtp_textos);
    text-decoration: none;
    margin: 3vh 0;
}

#bemfeitoria button{
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
    border: none;
    background-color: var(--ahtp_verde);
    font-weight: 600;
}

#bemfeitoria button:hover{
color: var(--ahtp_branco);
}

/* IMPACTO */
.numeros{
    background-color: var(--ahtp_verde);
    width: 100%;
    padding: 10vh 0 10vh 0;
}

.numeros a{
    text-decoration: none;
}

.numeros-cards-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.numeros-cards{
    background-color: var(--ahtp_branco);
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 35vh;
}

.numero-cards-valor{
    font-size: 3vw;
    font-weight: 900;
    color:var(--ahtp_textos);
}

.numero-cards-desc{
    padding-top: 1vh;
    font-size: 1.5vw;
    font-weight: 600;
    font-style: italic;
    color:var(--ahtp_textos);
}

/* contato */

.section-titulo{
    font-weight: 900;
    font-size: 9vw;
    line-height: 0.97
}

footer{
    background-color: var(--ahtp_branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}



#naMidia{
    background-color: black;
}
.materia_div{
    background: black;
    padding: 0 25vw;
    width: 90%;
    justify-self: center;
}

.banner_div{
    background: rgb(221, 92, 92);
    padding: 0 0;
    width: 90%;
    justify-self: center;
}

@media (max-width: 480px) {
    /* QUEM SOMOS */
    #quem-somos-bg{
        height: 50vh;
    }
    #quem-somos{
        /* width: 100vw; */
        height: auto;
        margin: 2vh 0 3vh 1vh;
    }
    #quem-somos p{
        font-weight: 900;
        font-size: 11vw;
        color: var(--ahtp_textos);
    }
    #quem-somos a{
        font-size: 2vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }

    /* WPF */
    #world-peace-forum-bg {
        flex-direction: column;
        display: none;
    }

    /* NUMEROS */
    .numeros-cards{
        width: 80%;
        margin: 1vh;
        padding: 3vh 0;
    }
    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;}
    
    .numero-cards-simbolo{
        font-size: 4vh;
    }

    .numero-cards-valor{
        font-size: 5vh;
    }

    .numero-cards-desc{
        font-size: 3vh;
    }

    
}

@media (min-width:  768px) and (max-width: 992px){
/* .imagem-ccxp-div{
    padding-top: 3vh;
    background-color: #56E79A;
} */
}

@media (min-width: 480px) and (max-width: 768px){
    /* .imagem-ccxp-div{
        padding-top: 4vh;
        background-color: yellow;
    } */

    #quem-somos-bg{
        height: 50vh;
    }

    #quem-somos{
        height: 100vh;
    }

    #quem-somos a{
        font-size: 3vh !important;
        text-decoration: none;
        color: var(--ahtp_textos);
    }

    .impact{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .numeros-cards{
        width: 70%;
        margin: 1vh;
    }

    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;
    }

    .numero-cards-simbolo{
        font-size: 4vh;
    }

}