@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
}

/* html > *{
    border:red;
    border-style: solid; 
} */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    height:100vh;
    width: 100vw;
    overflow-x: hidden;
    }

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
}


/* body{
    background-color: var(--ahtp_branco); 
    font-family: "Montserrat", sans-serif;
} */

#navbar{
    background-color: var(--ahtp_branco) !important;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    color: black;
}

#app{
    display: flex;
    flex-direction:  column; 
    /* width: 100vw; */
    /* height: 87vh; */
    margin-top: 10vh;
    /* background-color: rgb(8, 0, 253); */
}

.section-titulo{
    font-weight: 900;
    font-size: 9vw;
    line-height: 0.97
}

footer{
    background-color: var(--ahtp_branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

.contact-info-box{
    background-color: var(--ahtp_branco);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 2vh 0;
}

.contact-info{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-icon{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.img-contato{
    width: 40%;
    object-fit:contain;
}

.contato{
    padding: 3vh 0;
    font-size: 3vh;
}

.social-medias{
    height: 10vh;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    align-items: end;
    padding: 1vh 1vw;
}

.sm-img{
    object-fit: contain;
    height: 4vh;
}

@media (min-width:  768px) and (max-width: 992px){
    body{
        padding-top: 3vh;
        width: 100;
    }

}

@media (min-width: 480px) and (max-width: 768px){
    body{
        padding-top: 4vh;
        background-color: blue;
        width: 100%;
    }

}

@media(max-width: 480px){
    .contact-info-box{
        flex-direction: column;
    }

    .contact-info{
        width: 100%;
        padding: 5vh;
    }

    .social-medias{
        width: 100%;
    }

    .contato-icon{
        width: 100%;
        padding: 4vh;
    }

    .materia_div{
        background: black;
        padding: 0;
        width: 99%;
        justify-self: center;
    }

    .contato{
        padding: 3vh 0;
        font-size: 2vh;
    }
}