@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    border: red;
    border-style: solid;
    border-width: 1px;
} */

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro: #7CECB1;
    --ahtp_textos: #1D1D1D;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    max-width: 100%;
    width: 100vw;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, #56E79A 15%);
}

/* PAGINA SOBRE */
.sobrenos-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-top: 3vh;
}

#sobrenos {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 14vh;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* <!-- SEÇÃO NOSSO NOME E LOGO --> */

.section {
    background-color: var(--ahtp_verde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 95vh;
}

.titulo-secao {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 7vh 0;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 50%;
}

.titulo-div {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 70%;
    /* max-width: 50%; */
}

/* .titulo-area{
    border: var(--ahtp_verde_claro);
    border-width: 5px;
    border-style: solid;
    padding: 2vh 5vw;
}  */

.titulo {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 10vh;
    text-decoration: none;
    color: var(--ahtp_textos);
}



.descricao-div {
    width: 100%;
    display: flex;
    justify-content: right;
    /* padding: 1vh 1vw; */
}

.descricao-area {
    width: 70%;
    padding-right: 13vw;
}

.texto {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 5vh;
    text-decoration: none;
    color: var(--ahtp_textos);
    text-align: justify;
}

/* LOGO */
.logo {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#army_img,
#theplanet_img {
    filter: brightness(0);
}

/* ARMY */
/* #army {
    height: 72vh !important;
} */


/* HELP */

#help {
    background-color: white;
    padding: 20vh 0;
}

#help .logo{
    height: 10vh;

}

#help .titulo-div{
    display: flex;
    justify-content: right;

}

#help .descricao-div {
    display: flex;
    justify-content: left;
}

#help .descricao-area {
    padding-left: 13vw;
    padding-right: 0;
    /* background-color: #56E79A; */
}

#help .titulo-secao {
    justify-content: right;
}

/* -------------------------- */




/* 767 */