@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    border: red;
    border-style: solid;
    border-width: 1px;
} */

:root {
    --ahtp_branco: #FFFEFF;
    --ahtp_verde: #56E79A;
    --ahtp_verde_claro:#7CECB1;
    --ahtp_textos: #1D1D1D;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
    }

body {
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction:  column; 
    /* padding-top: 2vh; */
    background-color: blue;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, #56E79A 15%);
}

/* PAGINA SOBRE */

#sobrenos {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 12vh;
    text-decoration: none;
    color: var(--ahtp_textos);
    /* padding: 5vh 2vw; */
    text-align: center;
    /* width: 100%; */
}

/* <!-- SEÇÃO NOSSO NOME E LOGO --> */

.section{
    /* background-color: var(--ahtp_branco); */
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    align-content: center;
    /* padding: 1vh 1vw; */
    height:91vh;
}

.titulo-secao {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.titulo-div {
    /* padding: 1vh 0 ; */
    display: flex;
    justify-content: left;
    align-items: center;
}

/* .titulo-area{
    border: var(--ahtp_verde_claro);
    border-width: 5px;
    border-style: solid;
    padding: 2vh 5vw;
}  */

.titulo{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 10vh;
    text-decoration: none;
    color: var(--ahtp_textos);
}



.descricao-div {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content:right;
    /* padding: 1vh 1vw; */
}

.descricao-area {
    width: 68%;
    padding-right: 10vw;
}

.texto{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 5vh;
    text-decoration: none;
    color: var(--ahtp_textos);
    text-align: justify;
}

/* LOGO */
.logo {
    /* width: 50%; */
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}

.img {
    object-fit: fill;
    height: 90%;
    width: auto;
}

#army_img, #theplanet_img {
    filter: brightness(0); 
}

/* ARMY */
#army{
    height: 72vh !important; 
}


/* HELP */

#help {
    background-color: white;
    padding: 20vh 0;
}


#help .descricao-div {
    display: flex;
    justify-content: left;
}

#help .descricao-area {
    width: 68%;
    text-align: start;
    display: flex;
    color: #56E79A;
    background-color: #56E79A;
    padding-left: 10vw;
}

#help .titulo-secao {
    justify-content: right;
}

/* -------------------------- */



/* .section-titulo{
    font-weight: 900;
    font-size: 9vw;
    line-height: 0.97
} */



/* #texto-army{
    background-color: #D880E5;
}

#texto-help{
    background-color: #56C3E7;
}

#texto-planet{
    background-color: #6756E7;
} */

