#impacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ahtp_verde);
    width: 100%;
    padding: 15vh 0 ;
}

#impacto a{
    text-decoration: none;
}

.numeros-cards-div{
    max-height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 5vw;
}

.numeros-cards{
    background-color: var(--ahtp_branco);
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.numero-cards-valor{
    font-size: 5vw;
    font-weight: 900;
    color:var(--ahtp_textos);
}

.numero-cards-desc{
    padding-top: 1vh;
    font-size: 1.8vw;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    color:var(--ahtp_textos);
}

@media (max-width: 480px) {
    .numeros-cards{
        width: 80%;
        margin: 1vh;
        padding: 3vh 0;
    }
    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;}
    
    .numero-cards-simbolo{
        font-size: 4vh;
    }

    .numero-cards-valor{
        font-size: 5vh;
    }

    .numero-cards-desc{
        font-size: 3vh;
    }
}

@media (min-width: 480px) and (max-width: 768px){
      #impacto{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 3vh 0;
    }  

    .numeros-cards{
        margin: 2vh;
        padding: 5vh 2vw;
    }

    .numero-cards-valor{
        font-size: 10vh;
    }

    .numero-cards-desc{
        font-size: 5vh;
    }

    .numeros-cards-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:0;
    }
}